*{
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(to right, #20034e   ,#3909aa );
    margin-left: 3%;
    margin-right: 3%;
}

#nav {
    margin-top: 1%;
    display: flex;
    margin-left: 5px;
  
    /*justify-items: center;*/
}

div.container-fluid div div {
    height: 110px;
    display: flex;
    align-items: center;

}
.col{
    position: relative;
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
}
#listas{
    justify-content: right;
}

.nav1 {
   font-size: 150%;
    padding-left: 5%;
    color: white;
    text-decoration: none;
}
.nav1:hover{
    color: white;
    text-decoration: none;
}
#buscador{
    /*justify-content: right;*/
}
/*.col {
    border: 1px solid white;
}*/

#search{
    width: 65%;
    height: 35%;
    border: 4px solid #20034e;
    margin-left: 4%;
   
}
#user{
    display: flex;
    justify-content: end;
   
}
#cajalogo{
   
   /* align-content: center;
    justify-content: center;*/
}


ul, ol {
    list-style:none;
}
.nav > li {
    float:none;
}
#userlist{
    margin: 0;
    padding: 0;
    justify-content: center;
    padding-left: 3%;
}
.nav li a {
    
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}
.nav li a:hover {
    background-color:#434343;
}
.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}
.nav li:hover > ul {
    display:block;
}
.nav li ul li {
    position:relative;
}

 .nav li ul li ul {
    
    top:0px;
}